{% extends 'base.html.twig' %}

{% block title %}Liste des chauffeurs | {{parent()}}{% endblock %}

{% block body %}
<section>
<h1>Liste des chauffeurs </h1>

<a href="{{path('drivers.create')}}">
				<button>Ajouter un profil chauffeur</button>
			</a>
<table>
<tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Permis</th>
    <th>Numéro de téléphone</th>
    <th>Matricule</th>
    <th>Statut</th>
</tr>
{% for driver in drivers %}
<tr>
    <td>{{driver.name}}</td>
    <td>{{driver.FirstName}}</td>
    <td>{% for DrivingLicense in driver.DrivingLicense %}
        {{DrivingLicense.Category}}
    {% endfor %}</td>
    <td>{{driver.PhoneNumber}}</td>
    <td>{{driver.RegistrationNumber}}</td>
    <td>{% if driver.status  %}Actif {% else %}
        Inactif{% endif %}
    </td>
    <td><a href="{{path('drivers.edit', {id: driver.id})}}">
        <button> Modifier</button>
    </a></td>
</tr>
{% endfor %}
</table>

    

</section>
{% endblock %}
